# Supabase
SUPABASE_URL=https://etrczkefuphiesskfqjx.supabase.co
SUPABASE_SECRET_KEY=COLE_AQUI_A_SECRET_KEY
SUPABASE_STORAGE_BUCKET=gift-images

# Porta (a hospedagem pode definir automaticamente)
PORT=3000
