SUPABASE_URL=https://etrczkefuphiesskfqjx.supabase.co
SUPABASE_SECRET_KEY=sb_secret_bLCqqYiDzz3WqrBk238m0w_AdzwE_jY
RESEND_API_KEY=re_9Jsz16eX_EzbgtLFEVEsvsDgRaUcXvZmP
NOTIFICATION_EMAIL=gustavobarbosagbn@gmail.com
